[workspace]
members = ["utf8_map", "fzr", "fzr-cli", "fzr-lua"]
resolver = "2"

[patch.crates-io]
termios = { path = "termios-patch", package = "termios" }

[profile.release]
lto = true
panic = "abort"
codegen-units = 1

[profile.release.package.fzr-lua]
strip = true
